body {
  margin: 50px;
}
.blog {
  padding: 10px;
  border: 2px solid grey;
  border-radius: 3px;
  margin-bottom: 5px;
}

.blog a {
  font-family: monospace;
}

.success {
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid green;
  border-radius: 3px;
  color: green;
}

.error {
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid red;
  border-radius: 3px;
  color: red;
}
